<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435267951182-ehpd249sve51mboj6o1jan1frga9s9hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435267951182-ehpd249sve51mboj6o1jan1frga9s9hj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>435267951182-vp7v2r9u95jvqg7kinpl6od7ek8oih7l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA67IpZB-Z6UtyWc6y_foxec7hZPQ_QePk</string>
	<key>GCM_SENDER_ID</key>
	<string>435267951182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.slSocialAuthExample</string>
	<key>PROJECT_ID</key>
	<string>test-project-b8a87</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-b8a87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435267951182:ios:8e78d08e811d10115a411f</string>
</dict>
</plist>